# ==========================================
# React / Vite
# ==========================================
pedidos360-react/node_modules/
pedidos360-react/dist/

# ==========================================
# Spring Boot / Maven
# ==========================================
pedidos360-backend/target/

# ==========================================
# IDE
# ==========================================
.idea/
.vscode/
*.iml

# ==========================================
# Variables de entorno
# ==========================================
.env
.env.*
!.env.example

# ==========================================
# Sistema operativo
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Logs
# ==========================================
*.log